@import '/src/styles/func.scss';

.posts {
  max-width: $max-width;
  margin: px2rem(120) auto 5rem; // Space around the posts container
  padding: 0 px2rem(16); // Padding inside the posts container

  & > div {
    position: relative; // Positioning for nested elements
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem; // Space below options

  &_group {
    display: flex;
    gap: 0.75rem; // Space between buttons
  }

  button:hover {
    color: $color-blue; // Hover effect for buttons
  }
}

.accio__note {
  position: absolute;
  animation: accio 2s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275); // Animation for note
}

@keyframes accio {
  0% {
    margin-left: 5rem; // Starting position for animation
    transform: scale(0.1) rotateZ(360deg); // Starting transform
  }
  100% {
    margin-left: 0.5rem; // Ending position for animation
    transform: scale(1) rotateZ(0deg); // Ending transform
  }
}

.option {
  display: flex;
  align-items: center; // Center align items

  input:checked {
    accent-color: $color-red; // Color for checked input

    & + label {
      color: $color-red; // Color for associated label
    }
  }

  input,
  label {
    &:hover {
      cursor: pointer; // Change cursor on hover
    }
  }

  label {
    margin-left: 4px; // Space between input and label
    color: $color-gray; // Label color
    font-size: px2rem(14); // Label font size
  }
}

.date__year + .date__month {
  @media (max-width: 639px) {
    margin: px2rem(8) auto; // Margin for smaller screens
  }
}

.date {
  &__year {
    margin: 2.5rem auto 0; // Margin for year element
    font-size: px2rem(20); // Year font size
    font-weight: 100; // Year font weight
    color: $color-gray; // Year color
    will-change: transform; // Optimization for animations

    @media (min-width: 640px) {
      position: absolute; // Position year for larger screens
      top: -1.7rem; // Positioning
      left: -3.5rem; // Positioning
      transform: rotate(-90deg); // Rotate for better visibility
    }
  }

  &__month {
    margin: px2rem(32) px2rem(-2) px2rem(4); // Margin for month element
    color: $color-gray; // Month color
    text-transform: uppercase; // Uppercase for month
    font-size: px2rem(14); // Month font size
    font-weight: 100; // Month font weight
  }
}

.post {
  display: flex;
  align-items: center; // Center align items in post
  margin-bottom: px2rem(10); // Space below each post

  &:hover {
    @include link-decoration; // Link decoration on hover
    color: $color-link; // Change color on hover
  }

  &__title {
    padding-right: 1rem; // Space to the right of title
    text-overflow: ellipsis; // Ellipsis for overflow
    white-space: nowrap; // Prevent line breaks
    overflow: hidden; // Hide overflow
    flex: 1; // Allow title to grow
  }

  &__day {
    font-size: px2rem(14); // Font size for day
    font-style: italic; // Italic style
    font-weight: 100; // Light font weight
  }
}

.simple {
  &__post {
    margin-bottom: px2rem(32); // Space below simple posts
  }

  &__date {
    color: $color-lightgray; // Color for simple date
    font-size: px2rem(13); // Font size for simple date
  }

  &__title {
    font-size: 1.25rem; // Font size for simple title
    font-weight: 600; // Font weight for simple title

    flex: 1; // Allow title to grow

    &:hover {
      @include link-decoration; // Link decoration on hover
      color: $color-link; // Change color on hover
    }
  }

  .tags {
    font-size: 13px; // Font size for tags
    color: $color-lightgray; // Color for tags

    .tag {
      display: inline-block; // Display tags inline
      margin-right: 8px; // Space between tags

      &:last-child {
        margin-right: 0; // No margin on last tag
      }
    }
  }

  .desc {
    display: inline-block; // Display description inline
    font-size: 13px; // Font size for description
    color: $color-lightgray; // Color for description
    margin-bottom: 4px; // Space below description
  }
}
