@import '/src/styles/func.scss';

.dark-mode {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  font-size: px2rem(16);
  color: $color-black; // Default color

  // Style for the dark mode icon (adjust colors based on your theme)
  &__icon {
    width: 1.5rem; // Adjust the size of the icon as needed
    height: 1.5rem;
    margin-left: 8px;

    // Example for sun/moon icon based on dark mode
    transition: color 0.3s ease;
  }

  &.active {
    color: #f5f5f5; // Text color in dark mode
  }

  &.active .dark-mode__icon {
    color: #f5f5f5; // Icon color in dark mode
  }

  // Add any other styling as needed for hover states, etc.
  &:hover {
    opacity: 0.8;
  }
}

// If you want to add transitions for the body or global styles when dark mode is active
body.dark-mode {
  background-color: #111; // Background color for dark mode
  color: #f5f5f5; // Default text color in dark mode
}
